<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
# 참고사이트 : https://github.com/susanli2016/NLP-with-Python/blob/master/Fuzzy%20String%20Matching.ipynb

In [2]:
import random
import pandas as pd
import numpy as np
from pandas import DataFrame
%matplotlib inline
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

d:\pl\python\python37\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [ ]:
dat.head()

In [93]:
def get_ratio(row):
    name = '행복'
    name1 = row['hash_tag']
    return fuzz.ratio(name, name1)

dat[dat.apply(get_ratio, axis=1) > 70]

    id hash_tag
10  11       행복
15  16       행복
23  24       행복
25  26       행복
30  31       행복
35  36       행복
41  42       행복
49  50       행복
51  52       행복
52  53       행복
57  58       행복
64  65       행복
66  67       행복
67  68       행복
72  73       행복
77  78       행복
84  85       행복
86  87       행복
87  88       행복
89  90       행복
94  95       행복
95  96       행복
97  98       행복

In [96]:
len(dat[dat.apply(get_ratio, axis=1) > 70]) / len(dat)

0.23

In [99]:
dat[dat.apply(lambda row: fuzz.token_set_ratio('행복', row['hash_tag']), axis=1) > 60]

    id hash_tag
10  11       행복
15  16       행복
23  24       행복
25  26       행복
30  31       행복
35  36       행복
41  42       행복
49  50       행복
51  52       행복
52  53       행복
57  58       행복
64  65       행복
66  67       행복
67  68       행복
72  73       행복
77  78       행복
84  85       행복
86  87       행복
87  88       행복
89  90       행복
94  95       행복
95  96       행복
97  98       행복

In [109]:
len(dat[dat.apply(lambda row: fuzz.token_set_ratio('피요', row['hash_tag']), axis=1) > 60]) / len(dat)

0.25